.App {
    background-color: #4e4e4e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Dropzone {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-pdf__Document {
    /* margin: 1.5em 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-pdf__Page {
    /* margin-top: 1em; */
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.Header-item {
    flex: 1;
    padding: 0.5em 1em;
}

.Toolbar {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.Toolbar-item {
    margin-top: 0.5em;
    background: #ccc;
    color: #000;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Editor {
    position: fixed;
    width: 150px;
    top: 2em;
    left: 0.5em;
}

.Editor-item {
    background: #ccc;
    margin-bottom: 0.5em;
    color: #000;
    font-size: 0.5em;
    padding: 0.5em 1em;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.signature-pad {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 300px;
    height: 150px;
    background-color: white;
    border: 5px solid green;
}

.d-none {
    display: none;
}

.signature-modal {
    width: 100%;
    height: 100vh;
    display: block;
    border: 1px solid;
    opacity: 0.8;
    background: black;
    z-index: 2;
    top: 0;
}

.signature-modal-body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature-buttons {
    margin-top: 200px;
    position: absolute;
}

.show-page {
    position: absolute;
    right: 0;
    margin-right: 5rem;
}

.file-input {
    width: 30vw;
    height: 3vh;
    outline: navajowhite;
}

.file-upload {
    height: 3vh;
}